*{
    box-sizing: border-box ;
}
div .profile{
    display: grid;
    grid-template-rows: 3fr 7fr 1fr;
    height: 100vh;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}
.info{
    display: grid;
    grid-template-areas: 
    '... picture picture username edit button ... ... '
    '... picture picture post followers following ... ... '
    '... picture picture bio bio bio ... ... ';
    grid-template-rows: 1fr 1fr 3fr;
    justify-items: center;
}
.info h1,p,.Bio{
    place-self: start;
}
.info img{
    grid-area: picture;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content: center;
}
.info h1{
    grid-area:username;
}

.info p:nth-child(3){
    grid-area: post;
}

.info p:nth-child(4){
    grid-area: followers;
}

.info p:nth-child(5){
    grid-area: following;
}
.info .Bio{
    grid-area: bio;
}


.container{
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 8fr;
}

.images{
    display: grid;
    gap:1.5rem;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.images img{
    height:250px;
    width: 300px;
}